<a href="https://colab.research.google.com/github/chaymagharbi/tacos-shop/blob/main/tp0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [15]:
s=0
a=input("donner un nombre:")
l=len(a)
for i in range(l):
 s = s + int(a[i])
print("la somme=",s)

donner un nombre:75869
la somme= 35

In [22]:
def cube(n):
    return n ** 3
n = int(input("Donner un nombre : "))
print(n,"au cube=",cube(n))

Donner un nombre : 5
5 **3= 125

In [28]:
def f(n):
    if len(n) == 0:
        return False
    return n[0] == n[-1]

l = []
n = int(input("donner longueur de l:"))
for i in range(n):
    num = int(input("Entrez un nombre: "))
    l.append(num)
print(f(l2))

donner longueur de l:3
Entrez un nombre: 1
Entrez un nombre: 2
Entrez un nombre: 1
True

In [30]:
def occurrences(l):
    dict1 = {}

    for num in l:
        if num in dict1:
            dict1[num] += 1
        else:
            dict1[num] = 1

    return dict1


il = [11, 45, 8, 11, 23, 45, 23, 45, 89]
r = occurrences(il)
print(r)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [31]:
def m(l1, l2):
    nl = []
    for num in l1:
        if num % 2 != 0:
            nl.append(num)

    for num in l2:
        if num % 2 == 0:
            nl.append(num)

    return nl

l1 = [10, 20, 23, 11, 17]
l2 = [13, 43, 24, 36, 12]
result = m(l1, l2)

print(result)

[23, 11, 17, 24, 36, 12]